@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.cdnfonts.com/css/miama');
                

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}

body{
    font-family: "Inter", sans-serif;
    background-color: black;
}
p{
font-size: 1rem;
font-weight: 400;
color: rgba(255, 255, 255, 0.5);

}
.btn-primary{
width: 35%;
height: 54px;
border-radius: 42px;
background: rgb(230, 83, 60);
color: white;
text-align: center;
font-size: 1.1rem;
font-weight:600 ;
}
.head-primary{
font-size:3rem ;
font-weight: 900;
color: white;
}




 
header{
    max-width: 100%;
    background:linear-gradient(180.00deg, rgb(17, 17, 17),rgba(119, 119, 119, 0) 100%);

}
.nav-item{
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 2rem;
    
  

}
.list-item{
 

display: flex;

height: 2rem;
justify-content: space-between;
width: 40%;
border: 1px solid rgba(255, 255, 255, 0.1);
border-radius: 2.2rem;
text-align: center;
align-items: center;
padding: 20px 10px;


    
}
.list-item li{
   list-style: none;
   text-align: center;


}
.list-item a{
    text-decoration: none;
    font-size: .8rem;
    font-weight: 400;
    color: rgb(255,255,255);

}

.brand h1{
color: rgb(230, 83, 60);
font-size: 2.1rem;
font-weight: 800;
}

 .home{
    background-color: rgb(230, 83, 60); 
    width: 100px;
    height: 30px;
    border-radius: 2.9rem;
    line-height: 30px;
 }
 .nav-icon{
    display: none;
    color: white;
    font-size: 2rem;
 }


/* banner section */
.banner{
    width: 90%;
    margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 4rem;
 
  
}
.banner-content{
    max-width: 50%;
    
}
.banner-content h1{
    font-size: 4.8rem;
font-weight: 900;
color: white;
line-height: 6rem;
}
.banner-content p{
    padding: 2rem 0;
}
.banner-content span{
    font-family: 'Miama', sans-serif;
    font-weight: 200;
    font-size: 10rem;
                                                
}
.btn-secondary{
width: 35%;
height: 54px;

border: 1px solid white;
border-radius: 42px;
background-color: transparent;
color: white;
font-size:1.1rem ;
font-weight: 600;
margin-left: 20px;


}

.banner-img{
    max-width: 100%;
    position: relative;

}
.banner-img img{
width: 100%;
}
.milestone{
    position: absolute;
    width: 170px;
    
   
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.1);
    right: -5%;
    top: 20%;
    padding: 13px;

}
.milestone h1 ,.milestone2 h1{
   color: white;
   letter-spacing: 0.1rem;
   

}
.milestone p , .milestone2 p{
    font-size: .9rem;
}





.milestone2{
    position: absolute;
    width: 170px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.1);
    left: -15%;
    top:75% ;
    padding: 10px;

    
}
.play-icon {
    color:white;
    background-color: rgb(230, 83, 60);
    
    width: 40px;
   
   border-radius: 50%;
   height: 40px;
   text-align: center;
   line-height: 40px;
   font-size: 1.5rem;


}



/* change your habit */
.change-your-habit{
    max-width: 90%;
    margin: 8rem auto;

}
.chng-content{
    text-align: center;
}
.chng-img{
    display: grid;
grid-template-columns: repeat(4,1fr);
gap: 2rem;
margin-top: 2rem;
  
}


.chng-img h4{
    color: white;
    font-size: 1rem;
    font-weight: 600;
    padding: 1rem 0;

    
}

.chng-img img{
    max-width: 100%;
    border-radius: 50%;
    border: 5px solid rgb(34, 34, 34);
}
.card1, .card2,.card3,.card4{
    
    text-align: center;
    margin-top: .5rem;
}



/* run section start */

.run{
    max-width: 90%;
    margin: 6rem auto;
    border-radius: 1.2rem;
    background: rgb(34, 34, 34);
    display: flex;
    justify-content: space-between;
}

.run-content{
    max-width: 45%;
    padding:3rem;
}
.run-img{
    max-width: 45%;
    padding: 3rem;
}
.run-content p{
    padding: 3rem 0;
}

.run-img img{
width: 100%;
border-radius: 2rem;

}

/* bmi calculator */

.bmi-calculator{
    margin: 8rem 0;
}


.bmi-head{
    width: 50%;
    margin: auto;
}

table{

text-align: center;
width: 310px;
height: 216px;
margin-top: 2rem;
border-collapse: collapse;
}

td,th{
    border: 1px solid rgba(255, 255, 255, 0.1);  
   
}
th{
    color: white;
}
td{
    color: grey;
    font-size: .9rem;
}
.bmi-calculator h3{
    color: white;
    font-size: 1.8rem;
    font-weight: 900;
    margin-bottom: 1rem;
}

.bmi-main-content{
    max-width: 100%;
    margin-top: 8rem;

    background:rgba(255, 255, 255, 0.1) ;



}
.bmi-content{

width: 90%;
margin: 1rem auto;
display: flex;
justify-content: space-between;

}
.bmi-content>div{
    width: 50%;
    margin: 4rem 0;
}


input,select{
width:45%;
height: 48px;
border-radius: 8px;
margin: 1rem 1rem 0 0;
color: gray;
padding-left:1.5rem;
background: rgba(255, 255, 255, 0.1);

}
.factor{
    width:95%;
  
}
.calulator button{
    margin-top: 1rem;
}

/* product section */

.product{
    width: 90%;
    margin: 0 auto;
    margin-bottom: 10rem;
}
.product-head{
    text-align: center;
    margin-bottom: 5rem;
}
.product-img{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 2rem;
    
}
.product-img>div{
    color: white;
   
    text-align: center;
}
.product-img img{
    width: 60%;
    filter: drop-shadow(12px 12px 20px rgba(82, 82, 82, 0.479));
    
}
.product-img h4{
    margin: 1rem 0;
    font-weight: 600;
    font-size: 1rem;
    

}
.product-img h3{
    letter-spacing: 3px;
    font-weight: 700;
    font-size: 1.5rem;
}
.product-img1{
    position: relative;
    overflow: hidden;
  
}


.content{
    position: absolute;
    top: -100%;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.393);
    transition: all 0.5s;
    
    
}
.btn3 i {
letter-spacing: 10px;
}

.btn3{
background: rgb(230, 83, 60);
color: white;
text-align: center;
font-size: 1.1rem;
font-weight:600 ;
height: 54px;
width: 50%;

}

.product-img1:hover .content{
    top: 0%;

}

/* meet our team section */

.meet-content{
    text-align: center;
    margin-bottom: 5rem;
    color: aliceblue;
}

.meet-out-team{
    width: 90%;
    margin: 3rem auto;
}
.meet-img h3{
color: white;
font-size: 1.5rem;
font-weight: 700;
}

.meet-img{
    display: grid;
    grid-template-columns:repeat(3,1fr) ;
    grid-template-rows: ;
    gap: 2rem;
    padding: 2%;
   
    border-radius: 2rem;
    background: rgba(255, 255, 255, 0.1);

     
}
.meet-img img{
    width: 100%;
    border-radius: 2rem;
   object-fit: cover;
  filter: opacity(70%);

    

   
}
.img1,.img2 ,.img3 ,.img4,.img5,.img6{
    position: relative;
}


.img-title1, .img-title2,.img-title3,.img-title4 ,.img-title5 ,.img-title6{
    position: absolute;
    top: 70% ;
    left:10% ;
}
/* latest blog section */

.latest-blog-post{
    max-width: 90%;
    margin: 5rem auto;
}

.blog-head{
    text-align: center;
    margin-bottom: 4rem;
}
.blog-card{

    background: rgba(255, 255, 255, 0.1);
    
    border-radius: 2rem;
    

}
.blog-card-content{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin-top: 4rem;
    gap: 1.5rem;
    padding:1rem;
   
}
.blog-card img{
    width: 100%;
    border-radius: 2rem 2rem 0  0;
}
.blog-card-content h3{
color: white;
}

.news1 ,.news2,.news3{
    background-color:rgba(255, 255, 255, 0.164) ;
    border-radius: 2rem;
}
.news1-content,.news2-content,.news3-content{
    padding: 2rem;
}

.blog-card-content i{
    color: rgb(241, 76, 51) ;
    
}
.blog-card-content h3{
    font-size: 1.5rem;
    font-weight: 700;
    margin: 1rem 0;
}



/* footer section */



footer{
    max-width: 100%;
    background:rgba(255, 255, 255, 0.1) ;
    margin-top: 7rem;
}


.footer-content2{
  
} 

.footer-content1 h1{
color: rgb(230, 83, 60);
font-size: 4.2rem;
font-weight: 800;
margin-bottom: 1rem;

}
.footer h2{
    color: white;
    font-size: 1.4rem;
    font-weight: 600;
    margin-bottom: 2rem;
}


.footer{
    display: flex;
    gap: 6rem;
    width: 90%;
    margin: 0 auto;
    justify-content: space-between;
    
}
.footer>div{

    max-width:32%;
    margin: 4rem 0;
    
}

.footer p{
    margin-bottom: 1rem;

}

.end{
    text-align: center;
    margin-top: 2rem;
}

hr{
    border: 2px solid rgba(255, 255, 255, 0.1);
    width: 90%;
    margin: 0 auto;
}    




/* responsive for small devices */
@media  screen and (max-width:576px) {
    .banner{
        flex-direction: column;

    }
    .list-item{
        display: none;
    }
    .nav-icon{
        display: block;
    }



    .banner-content{
        max-width: 100%;
        font-size: 1rem;
        
    }

    .banner-content h1{
        font-size: 3rem;

    }
    .banner-img{
        width: 100%;
     } 
    .banner-img img{
        width: 100%;
    }
    .milestone2{
        left: 10%;
    }
    .milestone{
        top: 10%;
        right: 2%;
    }
    .btn-secondary{
        width: 40%;
    }
    #btn1{
        width: 40%;
    }
    .chng-img{
       
    grid-template-columns: repeat(1,1fr);
text-align: center;}

.run{
    flex-direction: column;
}
.run-content{
    max-width: 100%;
    padding: .5rem;
}
.run-img{
    max-width: 100%;
    padding: .5rem;
}
.run button{
    width: 100%;
}

.meet-img{
    grid-template-columns: repeat(1,1fr);
}
.bmi-content{
    flex-direction: column;
}
.bmi-content >div{
    width: 100%;
   
}

.bmi-head{
    width: 90%;
}
.calulator input{
    width: 45%;
}

.product-img{
    grid-template-columns: repeat(1,1fr);
}

table,input{
    width: 100%;
}
.blog-card-content{
    grid-template-columns: repeat(1,1fr);
}

.footer{
  flex-direction: column;
 gap: 0;

}
.footer>div{
    min-width: 100%;

    
}
}
